.wrapper {
    max-width: 1100px;
    min-width: 600px;
    margin: 0 auto;

    .notFound {
        font-size: 35px;
        text-align: center;
        margin-top: 80px;
    }

    input {
        padding: 0 5px;
        line-height: 25px;
        height: 25px;
        font-size: 17px;
    }
}

.navbar {
    padding: 10px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            font-size: 30px;
        }
    }
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(143, 143, 143);

    button {
        border: none;
        padding: 5px;
        cursor: pointer;
        margin: 3px;
        font-weight: 700;
        border-radius: 7px;
    }
    button.green {
        background-color: rgb(93, 196, 93);
    }
    button.red {
        background-color: rgb(209, 124, 118);
    }

    input {
        width: 80%;
    }

    th, td {
        border: 1px solid rgb(143, 143, 143);
        text-align: center;
        padding: 5px;
    }
}

.has-error {
    border-color: rgba(182, 59, 59, 0.685);
    &:focus {
        border-color: rgba(182, 59, 59, 0.685);
    }
}
